<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-9 form-group">
            <label>Product Name</label>
            <input
              type="text"
              id="pName"
              class="form-control"
              formControlName="pName">
          </div>
        </div>
        
          <div class="row">
          <div class="col-sm-9 form-group">
            <label>Product Id</label>
            <input
              type="text"
              id="pId"
              class="form-control"
              formControlName="pId">
          </div>
          </div>
          <div class="row">
          <div class="col-sm-9 form-group">
            <label>Price</label>
            <input
              type="number"
              id="price"
              class="form-control"
              formControlName="price">
          </div>
          </div>
        
        <div class="row">
          <div class="col-xs-12">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]= "!signupForm.valid"
              >Submit</button>
            
          </div>
        </div>
      </form>
    </div>
  </div>